html{
}
body{
    background-color: #e1e1e1;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
/*navbar start*/
.header{
    width: 100%;
    background-color: #444;
    font-size: 13px;
}
.header .navbar {
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    min-width: 960px;
    max-width: 1400px;

}
.navbar .logo{
    display: inline-block;
    padding: 3px 20px 3px 0;
    width: 120px;
    height: 28px;
}
.navbar .logo img{
    width: 100%;
}

.navbar .search-warp{
    display: inline-block;
    vertical-align: top;
}

.navbar .search-warp .search{
    margin-top: 8px;
    padding-left: 26px;
    width: 233px;
    height: 26px;
    border:0;
    outline:none;
    border-radius: 13px;
    background: url('https://o4j806krb.qnssl.com/public/images/search.e53b380a.hashed.png')  no-repeat;
    background-position: 4px 4px;
    background-color: #666;
}
.navbar .search-warp .search:focus{
    background-color: #fff;
}

.navbar .nav{

}
.navbar .nav  .nav-item{
    float: left;
    padding-left: 30px;
}
.navbar .nav .nav-item .nav-item-a{
    line-height: 40px;
    color: #ccc;
}

/*navbar end*/


/*main start*/
.main{
    margin: 15px auto ;
    width: 90%;
    min-width: 960px;
    max-width: 1400px;
}
.main .sidebar{
    width: 290px;
}

.main .content{
    margin-right: 305px;
}

.main .content >div{
    background-color: #fff;
}
/*main end*/

/*sidebar start*/
.sidebox{
    margin-bottom: 13px;
    background-color: #fff;
}
.sidebox .sidebox-head,.reply-wrap .reply-head{
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
    border-radius: 3px 3px 0 0;
    background-color:#f6f6f6;
}
.sidebox .sidebox-head a.sidebox-link{
    color: #666;
}
.sidebox .sidebox-body{
    padding: 10px;
    font-size: 13px;
}
.sidebox-body .sidebox-content-list-item{
    font-size: 13px;
    color:#778087;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebox-body .sidebox-content-list-item .txt{
    margin-right: 10px;
}
.sidebox-body .sidebox-content-list-item .link{
    color:#778087;
}

.sidebox-body .txt-p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 2em;
}
.sidebox-body .tolog{
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 2em;
}
.sidebox-body .tolog > p > a{
    display: inline-block;
    padding: 0 3px;
    color: #778087;
}

.sidebox-body .user-info{
    margin-bottom: 10px;
}

.sidebox-body .user-info .user-name{
    padding-left: 10px;
    font-size: 16px
}

.sidebox-form-wrap{
    text-align: center;
}
.sidebox-form-wrap .sidebox-form {
    margin-top: 40px;
}
.sidebox-form  label{
    font-size: 14px;
    line-height: 20px;
}
.sidebox-form  input{
    margin-left: 20px;
    padding: 4px 6px;
    width: 270px;
    height: 20px;
    border: 1px solid rgb(204,204,204);
    border-radius: 4px;
}
.sidebox-form .form-cell{
    margin-bottom: 15px;
}
/*sidebar end*/



/*footer start*/
#footer{
    font-size: 13px;
    background-color: #fff;
}
#footer .footer-wrap{
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
    min-width: 960px;
    max-width: 1400px;
}
#footer .footer-wrap .links{
    margin: 0 0 10px 0;
}
#footer .footer-wrap .content{
    color: #ababab;
    font-size: 14px;
    line-height: 20px;
}
#footer .footer-wrap .content p{
    padding-bottom: 10px;
}
/*footer end*/

/*backtotop start*/
.backtotop{
    position: fixed;
    padding: 12px 0 12px 6px;
    top:700px;
    right: 0;
    width: 24px;
    z-index: 999;
    border-radius: 12px 0 0 12px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: gray;
}
/*backtotop end*/


/*通用样式 start*/
.clearfix::after{
    display: block;
    content: ".";
    clear:both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom:1;
}

.f-fl{
    float: left;
}
.f-fr{
    float: right;
}
.f-fz-14{
    font-size: 14px;
}
strong{
    font-weight: 700;
}
.txt-i{
    font-style: italic;
}

/*github log*/

.btn-git{
    display: inline-block;
    padding: 3px 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2em;
    color: #fff;
    background-color: #5bc0de;
}
.btn-git:hover{
    color: #fff;
    background-color: #2f96b4;
}
.btn-primary{
    display: inline-block;
    padding: 3px 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2em;
    color: #fff;
    background-color: #08c;
}
.btn-primary:hover{
    color: #fff;
    background-color: #05c;
}
/*alert*/
.alert{
    position: relative;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    background-color: #fcf8e3;
    font-size: 14px;
    line-height: 2em;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert.alert-error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert .close{
    position: absolute;
    top: 2px;
    right: 16px;
}
/*put*/
.topic-type{
    display: inline-block;
    padding: 2px 4px;
    margin-top: 6px;
    color: #999;
    line-height: 14px;
    vertical-align: top;
    font-size: 12px;
    border-radius: 3px;
    background-color: #e5e5e5;
}
.put-top{
    color: #fff;
    background-color: #80bd01;
}

/*line top*/
.line-top{
    border-top: 1px solid #e5e5e5;
}
/*link*/
.link-b{
    color: #08c;
}
.link-b:hover{
    color: #005580;
    text-decoration: underline;
}
.link-d{
    color: #666;
    text-decoration: none;
}
.link-d:hover{
    color: #385f8a;
}
/*user logo*/
.user-small-lg{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.user-middle-lg{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
.user-big-lg{
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
}

/*通用样式 end*/
